:root {
  --white: #ffffff;
  --yellow: #fdff15;
  --pink: #ffb5c2;
  --light-green: #c4df9a;
}

img {
  max-width: 100%;
}

.rorortfolio,
.rorortfolio article {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.rorortfolio {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.rorortfolio article {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-one-intro {
  background: var(--yellow);
  color: var(--white);
}

#page-one-intro .container {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-auto-flow: column;
  max-width: 1024px;
}

#page-two-summary {
  background: var(--white);
  color: #2b5cb1;
}

#page-two-summary img {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 100px;
  align-self: flex-end;
}

#page-two-summary p {
  width: 450px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

#page-three {
  background: var(--pink);
}

#page-four {
  background: var(--white);
}
